.hero-columns > div {
  display: flex;
  flex-direction: column;
}

.hero-columns img {
  width: 100%;
}

.hero-columns > div > div {
  order: 1;
  color: white;
}

.hero-columns > div > .hero-columns-img-col {
  order: 0;
  flex: none;
}

.hero-columns > div > .hero-columns-img-col img {
  display: block;
}

@media (width >= 900px) {
    .hero-columns-wrapper {
        max-width: 100%;
        background-color: magenta;
    }

    .hero-columns >  {
        max-width: 1200px;
    }

    .hero-columns > div {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
    }

    .hero-columns > div > div {
        order: unset;
    }
}
